@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

.BrandBar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.BrandBar img {
  width: 15%;
  margin-left: 5%;
}

.BrandBar_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.BrandBar_right img {
  width: 15%;
}

.BrandBar_right a {
  margin-left: 10%;
  font-size: 25px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.list li {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}
