.notice_info {
  border-radius: 10px;
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  color: white;
  border: 1px solid #d8d8d8;
  margin-top: 20px;
}

.notice_info label {
  font-size: 14px;
  margin: 20px;
}

.index {
  width: 90%;
  min-height: 300px;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 30px;
}

.index label {
  color: #ffffff;
  font-size: 12px;
}

.coment {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coment input {
  width: 100%;
  padding: 10px;
  background-color: black;
  border: 1px solid #808080;
  border-radius: 5px;
  color: #808080;
  outline: none;
}

.coments {
  color: #ffffff;
  width: 100%;
}

.coments div {
  font-size: 12px;
  margin-top: 30px;
}
