.notice_contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.write {
  text-align: right;
  margin: 20px;
  font-size: 18px;
}

.write a {
  color: #808080;
  text-decoration: none;
}

.notice_content {
  width: 85%;
  padding: 15px;
  height: 25px;
  background-color: #303030;
  border-radius: 10px;
  margin-bottom: 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.notice_content label {
  margin-left: 10px;
  color: #808080;
}
